
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>API Binance</title>
    </head>
    <body>

        <!-- ISSO AQUI É PYTHON / DJANGO -->
        <!-- <h2>PYTHON</h2>
        <h3>Valor de abertura do Bitcoin: {{ inicial }}</h3>
        <h3>Valor atualizado do Bitcoin: {{ atualizado }}</h3>
        <h3>Variação de : {{ variacao }} %</h3>
        <h3>{{ mensagem }}</h3> -->

        <!-- ISSO AQUI É HTML E JAVASCRIPT -->

        <h2>INVESTIDOR: RICARDO JARDIN</h2>
        <h3>US$ {{ saldo_dolares }}</h3>
        <h3>BTC: {{ saldo_btc }}</h3>
        <h3>TOTAL: {{ saldo_total }}</h3><br />

        <h2>BITCOIN</h2>
        <!-- <h3>Valor Inicial do Bitcoin: <span id="valor-inicial"></span></h3> -->
        <h3>Valor Inicial do Bitcoin: {{ inicial }}</h3>
        <h3>Valor Atualizado Bitcoin: <span id="valor-api"></span></h3>
        <h3>Variação de : {{ variacao }} %</h3>
        <h3>{{ mensagem }}</h3><br />
        {% if vendeu_btc == true %}
            <div>vendeu 3%</div>
        {% else  %}
            <div>não vendeu</div>
        {% endif %}

        <h2>SOLANA</h2>
        <h3>Valor Inicial Solana: <span id="inicial-solana"></span></h3>
        <h3>Valor Atualizado Solana: <span id="atualizado-solana"></span></h3>
        <h3>Variação de : {{ variacao_solana }} %</h3>
        <h3>{{ mensagem_solana }}</h3><br />
        {% if vendeu_btc == true %}
            <div>vendeu 3%</div>
        {% else  %}
            <div>não vendeu</div>
        {% endif %}
        <script>
            function valorInicial() {
                fetch('/inicial/')
                    .then(response => response.json())
                    .then(data => {
                        let valor_formatado = data.price;
                        let valor_decimal = parseFloat(valor_formatado)
                        document.getElementById('valor-inicial').textContent = valor_decimal.toFixed(2);
                    })
                    .catch(error => console.error('Erro ao obter dados da API:', error))
            }
            valorInicial()
            function valorAtualizado() {
                fetch('/atualizado/')
                    .then(response => response.json())
                    .then(data => {
                        let valor_formatado = data.price;
                        let valor_decimal = parseFloat(valor_formatado)
                        document.getElementById('valor-api').textContent = valor_decimal.toFixed(2);
                    })
                    .catch(error => console.error('Erro ao obter dados da API:', error))
                    .finally(() => {
                        setTimeout(valorAtualizado, 3000);
                    });
            }
            valorAtualizado()
            function valorInicialSolana() {
                fetch('/solanaInicial/')
                    .then(response => response.json())
                    .then(data => {
                        let valor_formatado = data.price;
                        let valor_decimal = parseFloat(valor_formatado)
                        document.getElementById('inicial-solana').textContent = valor_decimal.toFixed(2);
                    })
                    .catch(error => console.error('Erro ao obter dados da API:', error))
            }
            valorInicialSolana()
            function valorAtualizadoSolana() {
                fetch('/solanaAtualizado/')
                    .then(response => response.json())
                    .then(data => {
                        let valor_formatado = data.price;
                        let valor_decimal = parseFloat(valor_formatado)
                        document.getElementById('atualizado-solana').textContent = valor_decimal.toFixed(2);
                    })
                    .catch(error => console.error('Erro ao obter dados da API:', error))
                    .finally(() => {
                        setTimeout(valorAtualizadoSolana, 3000);
                    });
            }
            valorAtualizadoSolana()
        </script>
    </body>
</html>